Name: <%= @user.name %><br>
About: <%= @user.about %><br>
Joined: <%= @user.created_at %><br><br>

<h3>My progress:</h3>
<ul id="levels-list"><% @all_levels.each do |level| %>
  <li class="level-info">
  	<div class="level-name">
  		<a href='/level/<%= level.id %>'><%= level.level %></a>
  	</div>
  	<div class="level-percent">
  		<%= level.percent_complete %>
  	</div>
  	<div class="level-bar">
  		<!-- Put progress marker here -->
  	</div>
  	</li>
  <% end %>
</ul>

