Name: <%= @user.name %><br>
About: <%= @user.about %><br>
Joined: <%= @user.created_at %><br><br>

<h3>My progress:</h3>
<ul id="levels-list"><% @all_levels.each do |level| %>
	<% completeness = level.percent_complete(@user.id) %>
  <li class="level-info">
  	<div class="level-name">
  		<a href='/level/<%= level.id %>'><%= level.level %></a>
  	</div>
  	<div class="level-percent">
  		<%= completeness %>%
  	</div>
  	<div class="level-bar">
  		<progress class="levels" value="<%= completeness %>" max="100"></progress>
  	</div>
  	</li>
  <% end %>
</ul>

