<li class="skill-note">
  <%= n.text %>
  <a href="<%= n.source %>"><%= n.source %></a>
  <a href="/skill/<%= n.skill_id %>/edit" class="edit" id="<%= n.id %>">(Edit)</a>
  <a href="/skill/<%= n.skill.id %>/delete" class="delete" id="<%= n.id %>">(Delete)</a>
</li>
