<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= 'FS-Momentum | ' + @title if @title %></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Raleway:600,500,400,800,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div id="header-background"></div>
    <div id="header-text">
      <div id="title">
        <h1><a href="/">FS-Momentum</a></h1>
      </div>

      <a href="/users/logout"><i class="<%= "fa fa-sign-out fa-2x" if current_user %>"></i></a>

      <div id="<%= "user" if current_user %>">
        <a href="/users/edit"><%= current_user.email if current_user %></a>
      </div>

    </div>
  </header>

  <div id="background"><img src="/../images/winter.jpg"></div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
