<script src="/js/skill.js"></script>

<h1><%= @skill.name %></h1>
<ul id="private-notes">Your notes:
  <% @private_notes.each do |n| %>
  <%= erb :'/skills/_note', locals: {n: n} %>
  <% end %>
</ul id="public-notes">
<ul>Other notes:
  <% @public_notes.each do |n| %>
  <li><%= n.text %> (from <a href="/users/show/<%= n.user.id %>"><%= n.user.email %></a>)</li>
  <% end %>
</ul>

<br>
<form action="/skill/<%= @skill.id %>" method="post" id="add-note">
  <input type="text" name="instructions" value="" placeholder="Note">
  <input type="checkbox" name="public" value="true">Make note public<br>
  <input type="submit" value="Add note">
</form>

